


$text-align:center;
$color: white;
$float:left;
//navbar
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: $color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

//end of navbar//

//border box


.movie-box{
box-sizing: content-box;  
width: 900px;
height: 550px;
padding: 30px;  
border: 10px solid rgb(71, 71, 104);




}

.movie-box {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  
}


.movie-1{
  padding-left: 20px;
  display: inline-block;
  text-align: center;
  
}

.movie-2{

  padding-left: 30px;
  display: inline-block;
  text-align: center;
}

.movie-3{

  padding-left: 30px;
  display: inline-block;
  text-align: center;
}
