ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }

li {
  float: left; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

li a:hover:not(.active) {
  background-color: #111; }

.active {
  background-color: #4CAF50; }

.movie-box {
  box-sizing: content-box;
  width: 900px;
  height: 850px;
  padding: 30px;
  border: 10px solid #474768; }

.movie-box {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px; }

.movie-1 {
  padding-left: 20px;
  display: inline-block;
  text-align: center; }

.movie-2 {
  padding-left: 30px;
  display: inline-block;
  text-align: center; }

.movie-3 {
  padding-left: 30px;
  display: inline-block;
  text-align: center; }

.movie-4 {
  padding-left: 20px;
  display: inline-block;
  text-align: center; }

.movie-5 {
  padding-left: 30px;
  display: inline-block;
  text-align: center; }

.movie-6 {
  padding-left: 30px;
  display: inline-block;
  text-align: center; }

h1 {
  text-align: center;
  font-size: 40px; }

body {
  margin: 60px;
  background: #111; }

.theatre {
  position: relative;
  top: 300px;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex; }

.cinema-seats {
  display: flex; }
  .cinema-seats .seat {
    cursor: pointer; }
    .cinema-seats .seat:hover:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 7px; }
    .cinema-seats .seat.active:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 7px; }

.left .cinema-row {
  transform: skew(-15deg);
  margin: 0 6px; }
.left .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
  margin-bottom: 10px;
  transform: skew(20deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
.left .row-2 {
  transform: skew(-13deg); }
  .left .row-2 .seat {
    transform: skew(18deg); }
.left .row-3 {
  transform: skew(-12deg); }
  .left .row-3 .seat {
    transform: skew(16deg); }
.left .row-4 {
  transform: skew(-11deg); }
  .left .row-4 .seat {
    transform: skew(15deg); }
.left .row-5 {
  transform: skew(-10deg); }
  .left .row-5 .seat {
    transform: skew(12deg); }
.left .row-6 {
  transform: skew(-9deg); }
  .left .row-6 .seat {
    transform: skew(10deg); }
.left .row-7 {
  transform: skew(-7deg); }
  .left .row-7 .seat {
    transform: skew(8deg); }

.right {
  margin-left: 70px; }
  .right .cinema-row {
    transform: skew(7deg);
    margin: 0 6px; }
  .right .seat {
    width: 35px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
    margin-bottom: 10px;
    transform: skew(-8deg);
    margin-top: -32px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .right .row-2 {
    transform: skew(9deg); }
    .right .row-2 .seat {
      transform: skew(-10deg); }
  .right .row-3 {
    transform: skew(10deg); }
    .right .row-3 .seat {
      transform: skew(-12deg); }
  .right .row-4 {
    transform: skew(11deg); }
    .right .row-4 .seat {
      transform: skew(-15deg); }
  .right .row-5 {
    transform: skew(12deg); }
    .right .row-5 .seat {
      transform: skew(-16deg); }
  .right .row-6 {
    transform: skew(13deg); }
    .right .row-6 .seat {
      transform: skew(-18deg); }
  .right .row-7 {
    transform: skew(15deg); }
    .right .row-7 .seat {
      transform: skew(-20deg); }

/*# sourceMappingURL=style.css.map */
